:host{
    display: grid;
    background-color: #313030;
    align-items: center;
}
p{
    color: white;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    padding-left: 1rem;
    font-size: 1rem;    
}